<script src="{{=URL('static','jquery-2.2.4.min.js')}}"></script>
{{if 'message' in globals():}}
<h2>{{=T('Pylepton Output:')}}</h2>
<a href="{{URL('pylepton')}}">
    <img width="320" height="240" src="/sensor_readiness/static/images/pylepton.jpg" alt="Thermal Readout" />
</a>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

<script src="{{=URL('static','jquery-2.2.4.min.js')}}"></script>
{{if 'message' in globals():}}
<h2>{{=T('Motion Detection:')}}</h2>
    <img src="http://robo-98.local:8080/?action=stream" alt="Motion Detection" />
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
{{if 'message' in globals():}}
<h2>{{=T('CO2 Reading:')}}</h2>
<p onclick='ajax_sensor()'>
    start co2 sensor 
</p>
<p id='co2sensor'>
</p>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
<script type="text/javascript">
 ajax_sensor = function(){

    jQuery.ajax({
      url: '/sensor_readiness/co2/co2',
      method: 'get',
      success: function(data){
          var co2=data['message'];
          if (co2 > 600){
              var note = ' life detected!';
          } else {
              var note = '';
          }
          jQuery('#co2sensor').html(co2+note);
          setTimeout(function(){ajax_sensor(0);},100);
      },
      failure: function(data){}
    });
  }
</script>
